<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.anicaremals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_img_modified"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_img_modified"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anicaremals">

        <activity
            android:name=".ui.activities.BaseActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.application.anicaremals.ui.fragments.home.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.application.anicaremals.ui.fragments.home.OnClickDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.application.anicaremals.ui.fragments.scanner.AddAnimalActivity"
            android:exported="false" />
        <activity
            android:name="com.application.anicaremals.ui.fragments.scanner.AnimalDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.application.anicaremals.ui.fragments.scanner.ScanAnimalActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>